---
import Layout from "../../layouts/Layout.astro";

import VlsmSvelte from "../../components/tools/vlsm.svelte";
---

<Layout title="VLSM Calculator | Sigfried Seldeslachts">
  <div class="component-wrapper">
    <div class="title-section">
      <h1>VLSM Calculator</h1>
      <p>During my time at a student group, we modified an existing VLSM calculator to a better UI. I found this again and decided to publish it, however we never saved the original author and after searching I failed to find the original. Therefore I cannnot credit that person. Apart from that, it's pretty simple but doesn't always work, sometimes it gives incorrect representations, so always verify it. Invalid networks (0, less or empty) are automatically removed</p>
    </div>

    <noscript>
      <div class="container mx-auto mt-2 mb-8">
        <div class="alert alert-danger" role="alert">
          <strong>Warning!</strong> JavaScript is disabled, which is required for this tool to work.
        </div>
      </div>
    </noscript>

    <VlsmSvelte client:load />
  </div>
</Layout>