---
import 'katex/dist/katex.min.css'; // Katex CSS

import Layout from "../../../layouts/Layout.astro";

import SimplifyComponent from "../../../components/math/simplify.svelte";
---

<Layout title="Simplify | Sigfried Seldeslachts">
    <div class="component-wrapper">
      <div class="title-section">
        <h1>Math Simplify</h1>
      </div>
  
      <noscript>
        <div class="container mx-auto mt-2 mb-8">
          <div class="alert alert-danger" role="alert">
            <strong>Warning!</strong> JavaScript is disabled, which is required for this tool to work.
          </div>
        </div>
      </noscript>
  
      <SimplifyComponent client:load />
    </div>
  </Layout>