---
import Empty from './Empty.astro';
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<Empty title={title}>
	<div class="wrapper">
		<Navigation />

		<main>
			<slot />
		</main>

		<Footer />
	</div>
</Empty>
